@font-face {
    font-family:'horizon';
    src: url('/fontes/horizon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'afacad';
    src: url('/fontes/Afacad.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'afacad-bold';
    src: url('/fontes/Afacad-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
  

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'horizon';
}

a{
    color: inherit;
}

body { /* fundo do site */
    background: rgb(255, 255, 246);
}


/* Navegação e menu */

 /* Barra Superior */
.top-bar {
    background-color: #0c7e77;
    text-align: center;
    padding: 8px 0;
    font-size: 25px;
    color: #000000;
}

.top-bar p{
    font-family: 'afacad-bold';
}

.top-bar a{
    color: #ffffff;
    font-family: 'afacad-bold';
}

.texto-logado{
    color: #ffffff;
}

  /* Barra de Navegação */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;    
    height: 120px;
}
  
.logo img {
    margin-left: 40px;
    height: 100px;
}
  

.nav-links{
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    margin-left: 20px;
}

.nav-links p{
    max-width: 100%;
}


.dropdown{
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.dropbtn{
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-size: 20px;
}

.droplist{
    position: absolute;
    top: 100%;
    width: 80%;
    display: none;
    flex-direction: column;
    box-shadow: 5px 10px 20px;
    background-color: #ffffff;
    z-index: 1000;
}

.droplist a{
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: #252525;
    font-size: 20px;
    transition: all .3s ease-in-out;
}
 
.droplist a:hover{
    background: #0c7e77;
    color: #ffffff;
}

.dropdown:hover .droplist{
    display: flex;
}

.campo-pesquisa {
    position: relative;
    display: flex;
    align-items: center;
    width: 600px;
    margin-right: 200px;
}

.campo-pesquisa i {
    position: absolute;
    left: 15px;
    color: #888;
    pointer-events: none; 
    font-size: 20px;
}

.pesquisa {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.fas{
    font-size: 60px;
    cursor: pointer;
}

.icons{
    display: flex;
    gap: 70px;
    margin-right: 90px;
}

.LinhaMenu{
    border: none;
    border-top: 2px solid #ccc;
    margin: 20px auto;
    width: 80%; 
}

/* Fim navegação e menu */

/*banner*/
.banner{
    width: 100%;
    max-width: 100%;
    height: 700px;
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bar{
    height: 60px;
    background-color: #0c7e77;
}
/*fim banner*/

.titulos-home{
    text-align: center;
    font-size: 60px;
    margin-top: 100px; 
}

.mais-vendidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
    padding: 20px;
    position: relative;
    margin-top: 90px;
}

.TodosDiscos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
    padding: 100px;
    position: relative;
    margin-top: 90px;
}

.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.produto a{
    font-family: 'afacad-bold';
    font-size: 24px;
    width: 290px;
    text-align: left;
    color: #000000;
}

.estrelas{
    font-size: 10px;
    display: flex;
    gap: 20px;
    margin-top: 15px;
    width: 290px;
}

.estrelas i{
    color: gold;
    font-size: 18px;
    line-height: 1;
    vertical-align: middle;
}

.estrelas p{
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
    color: #a1a1a1;
    font-family: 'afacad-bold';
}

.preco{
    font-family: 'afacad-bold';
    font-size: 28px;
    width: 290px;
    text-align: left;
}

.desc{
    font-family: 'afacad-bold';
    font-size: 28px;
    color: #888;
    text-decoration: line-through;
}

.imagem {
    width: 300px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.linha{
    border: none;
    border-top: 2px solid #ccc;
    margin: 20px auto;
    width: 80%; 
}


.VerMais {
    width: 100%;
    max-width: 200px;
    height: 60px;
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 30px;
    display: block;
    margin: 30px auto;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}


.VerMais:hover {
    background-color: #000000;
    color: #ffffff;
}

/* cadastro */

main {
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.ImagemCadastro {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-size: 1.2rem;
  border-radius: 90px;
}

form {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulocadastro{
    margin-bottom: 10px;
    white-space: nowrap;
}

form p {
    margin-top: 2vh;
    font-size: 15px;
}

.cadastro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
  
.cadastro label {
  font-size: 0.9rem;
  color: #000000;
  font-family: 'afacad';
  font-size: 20px;
}

.cadastro input {
  padding: 0.7rem;
  border: 1px solid #000000;
  border-radius: 10px;
  transition: border 0.3s ease;
}

button.cadastrar {
    background-color: #da532a;
    color: #ffffff;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 1rem;
  }
  
  button.cadastrar:hover {
    background-color: #a5310e;
  }
  
  button.google {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 30px;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    gap: 10px;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    border: 1px solid #000000;
    white-space: nowrap;
  }
  
  button.google:hover {
    background-color: #e0e0e0;
  }
  

.SimboloGoogle {
  color: #ffffff; 
  width: 26px;
  margin-left: 25px;
}

.Transferir a{
    color: #da532a;
}


.Logar{
    background-color: #da532a;
    color:#ffffff;
    width: 500px;
    height: 50px;
    text-align: center;
    border-radius: 40px;
    margin-top: 20px;
    padding: 0.75rem 1.5rem;
}

.Logar:hover{
    background-color: #a5310e;
}



/*footer */

footer {
    margin-top: 100px;
    background-color: #f1edcc;
    text-align: center;
    padding: 2em;
    color: #333;
    font-family: 'afacad';
}

.logofooter {
    width: 80px;
    margin-bottom: 0.5em;
}

.descricao {
    font-size: 0.9em;
    margin-bottom: 1em;
    font-family: 'afacad';
}

.social-section a i {
    width: 24px;
    margin: 0 0.5em;
    vertical-align: middle;
    color: #000000;
}

.links-section {
    margin: 1.5em 0;
    font-size: 0.95em;
    font-family: 'afacad';
}

.links-section a {
    text-decoration: none;
    color: #333;
    margin: 0 0.3em;
    font-family: 'afacad';
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1.5em 0;
}

.bottom-section p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 0.85em;
    font-family: 'afacad';
}
