/* Estilos Globais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Barra Superior */
  .top-bar {
    background-color: #f2f2f2; /* Cor de fundo (pode ser ajustada) */
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    color: #555;
  }
  
  /* Barra de Navegação */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    height: 40px;
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .search-cart-user {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .search-cart-user input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
  }
  
  .icon {
    font-size: 20px;
    cursor: pointer;
  }